/*****************************
    MARKDOWN STYLES
*****************************/
.markdown > p code::before {
  content: '`';
}
.markdown > p code::after {
  content: '`';
}

.markdown > pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: var(--s1);
}
.markdown > pre {
  color: #e5e7eb;
  background-color: #1f2937;
  overflow-x: auto;
}
