.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap, 0);
}

.sidebar > * {
  flex-grow: 1;
}

.sidebar[data-direction='left'] > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min, 50%);
}

.sidebar[data-direction='right'] > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min, 50%);
}
