@tailwind base;
@tailwind components;
@tailwind utilities;

address {
  font-style: normal;
}

.prose pre {
  @apply dark:bg-zinc-800;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
