---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="mx-auto max-w-2xl space-y-12 mt-12 px-4">
    <h1 class="text-4xl">Hello from Astro</h1>
    <p>Scaffold successful.</p>
  </section>
</Layout>
