@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


/* SIDEBAR STYLES */
.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
}

.sidebar {
    flex-basis: 20rem;
    flex-grow: 1;
}

.not-sidebar {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

/* STACK STYLES */
[class^='stack']>* {
    margin-block: 0;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack>* {
    margin-block: 0;
}

.stack>*+* {
    margin-block-start: var(--, 1.5rem);
}

/* CENTER STYLES */
.center {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--max-inline-size, 50ch);
}
