.p-3 {
  padding: var(--space-3);
}

.l-gap {
  --gap: var(--s5);
}

/* Only visible to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
