@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 200 300 400 500 600 700 800;
  font-display: optional;
  src: url(/fonts/mulish.woff2) format('woff2');
}
